<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Meditatio_Appli"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <service
            android:name="notification.NotificationService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="notification.Notification"
            android:enabled="true" />

        <activity
            android:name="settings.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.Meditatio_AppliCompat" />
        <activity
            android:name="youtubes.Meditation2"
            android:exported="false" />
        <activity
            android:name="youtubes.YouTube2"
            android:exported="false" />
        <activity
            android:name="youtubes.YouTube1"
            android:exported="false" />
        <activity
            android:name="youtubes.Meditation1"
            android:exported="false" />
        <activity
            android:name="messages.ChatLogActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="messages.LatestMessagesActivity" />
        </activity>
        <activity
            android:name="messages.NewMessageActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="messages.LatestMessagesActivity" />
        </activity>
        <activity
            android:name="messages.LatestMessagesActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="youtubes.meditation"
            android:exported="false" />
        <activity
            android:name="registerlogin.RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.Meditatio_AppliCompat">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
        </activity>
        <activity
            android:name="registerlogin.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Meditatio_AppliCompat" />
        <activity
            android:name="youtubes.Youtube"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Meditatio_Appli">
        </activity>
    </application>

</manifest>